# b3chaind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.b3chain
host=127.0.0.1

#mainnet default
port=8534

#testnet default
#port=18534

#regtest default
#port=18545

#signet default
#port=38534

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=b3c0010d
genesis=b6cdeba06d5b4c98df9db07c58d0d7ca50866b855ab3ca470382a7d19b52a9e6
input=/home/example/.b3chain/blocks

# testnet
#netmagic=b3c1020e
#input=/home/example/.b3chain/testnet3/blocks

# regtest
#netmagic=b3c2030f
#input=/home/example/.b3chain/regtest/blocks

# signet
#netmagic=0a03cf40
#input=/home/example/.b3chain/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
